In [1]:
import pandas as pd

In [2]:

df = pd.read_csv("monthly_in_situ_co2_mlo.csv", skiprows=61, usecols=['Yr', 'Mn', 'CO2'], skipinitialspace=True)
df=df.drop([0,1])
df

         Yr    Mn     CO2
2    1958.0   1.0  -99.99
3    1958.0   2.0  -99.99
4    1958.0   3.0  315.71
5    1958.0   4.0  317.45
6    1958.0   5.0  317.51
..      ...   ...     ...
801  2024.0   8.0  -99.99
802  2024.0   9.0  -99.99
803  2024.0  10.0  -99.99
804  2024.0  11.0  -99.99
805  2024.0  12.0  -99.99

[804 rows x 3 columns]

In [3]:
df['Yr'] = df['Yr'].astype(int).astype(str)
df['Mn'] = df['Mn'].astype(int).astype(str)
df

       Yr  Mn     CO2
2    1958   1  -99.99
3    1958   2  -99.99
4    1958   3  315.71
5    1958   4  317.45
6    1958   5  317.51
..    ...  ..     ...
801  2024   8  -99.99
802  2024   9  -99.99
803  2024  10  -99.99
804  2024  11  -99.99
805  2024  12  -99.99

[804 rows x 3 columns]